engine-strict=true

@levefi:registry=https://gitlab.nits.pro/api/v4/packages/npm/
//gitlab.nits.pro/api/v4/packages/npm/:_authToken=${GITLAB_NITS_NPM_TOKEN}
//gitlab.nits.pro/api/v4/projects/65/packages/npm/:_authToken=${GITLAB_NITS_NPM_TOKEN}
